:root {
  --border-color-grey: #eeeeee;
  --background-color-grey: #f5f7f9;
  --button-color-blue: #0070ba;
  --link-color-blue: #009cde;
  --section-padding: 1rem;
  --border-radius: 0.4rem;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

div {
  box-sizing: border-box;
  position: relative;
}

a {
  color: var(--link-color-blue);
}

input {
  border-radius: var(--border-radius);
}

label {
  font-size: 1rem;
}

button.link {
  outline: none;
  border: 0;
  background-color: transparent;
  color: var(--link-color-blue);
}

.smaller {
  font-size: 1rem;
}

.app-wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.content {
  display: flex;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-grey);
  min-height: 38.5rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-name {
  padding: 2rem 0;
}

/* left side of wallet */


.left {
  width: 43%;
  border-right: 1px solid var(--border-color-grey);
  display: none;
}

.show {
  display: block;
}

.action-title {
  margin-top: 1.5rem;
  border-bottom: 1px solid var(--border-color-grey);
}

.action-title h4 {
  text-align: center;
  font-weight: 100;
  font-size: 1.6rem;
}

.back-arrow {
  background: url('../hermes_window_sprite_v16_2x.png');
  background-repeat: no-repeat;
  background-size: 1500%;
  position: absolute;
  top: -0.5rem;
  height: 2.4rem;
  width: 2.5rem;
  background-position: 68% 59%;
}

.user-action, .summary {
  padding: var(--section-padding);
}

.btn-primary {
  background-color: var(--button-color-blue);
}

.card-logo {
  background: url('../sprite_logos_wallet_v11_2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 2.15rem;
  width: 3.4rem;
  top: 0.6rem;
  right: 0.6rem;
}

.card-logo.visa {
  background-position-y: 3.6%;
}

.card-logo.mastercard {
  background-position-y: 7.4%;
}

.card-logo.amex {
  background-position-y: 11%;
  margin-right: 0;
}

.card-logo.discover {
  background-position-y: 14.7%;
}

.card-logo.back {
  background-position-y: 69.3%;
}

.card-logo.bank {
  background-position-y: 44.1%;
}
